---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>

                <ul>
                    <li><a class="fa fa-2x fa-address-book" href="https://goo.gl/forms/ATWxiYXFw83CZmo93"><span class="description">RSVP</span></a>
                    <p>RSVP</p>
                  </li>
                    <li><a class="fa fa-2x fa-amazon" href="https://smile.amazon.com/wedding/share/lexie-faris"><span class="description">Registry</span></a>
                      <p>Registry</p>
                    </li>
                    <li><a class="fa fa-2x fa-envelope" href="mailto:faris+lexie_wedding@theluckybead.com"><span class="description">Email</span></a>
                      <p>Email</p>
                    </li>
                </ul>
        </div>

    </body>
</html>
